<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-2.0.xsd"
       default-autowire="byName">

    <util:properties id="properties" location="classpath:jdbc.properties"/>
    <bean id="parentdataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="#{properties['jdbc.driver']}" />
        <property name="initialSize" value="2" />							<!-- 初始化连接数 -->
        <property name="minIdle" value="5" />								<!-- 最小空闲连接数 -->
        <property name="maxIdle" value="10" />								<!-- 最大空闲连接数 -->
        <property name="maxActive" value="20" />							<!-- 最大连接数 -->
        <property name="maxWait" value="1000" />							<!-- 最大获取连接池连接等待时间(毫秒) -->
        <property name="logAbandoned" value="true" />						<!-- 是否在自动回收超时连接的时候打印连接的超时错误 -->
        <property name="testWhileIdle" value="true" />						<!-- 空闲时是否验证, 若不通过断掉连接, 前提是空闲对象回收器开启状态 -->
        <property name="removeAbandoned" value="true" />					<!-- 是否自动回收超时连接 -->
        <property name="removeAbandonedTimeout" value="180" />				<!-- 超时时间(秒) -->	        				
        <property name="timeBetweenEvictionRunsMillis" value="1800000" />	<!-- 空闲对象回收器由运行间隔(毫秒)，若需要回收, 该值最好小于 minEvictableIdleTimeMillis值 -->
        <property name="minEvictableIdleTimeMillis" value="3600000" />      <!-- 被空闲对象回收器回收前在池中保持空闲状态的最小时间(毫秒) -->
    </bean>
    
    <bean id="dataSourceWrite" class="org.apache.commons.dbcp.BasicDataSource" parent="parentdataSource">
        <property name="url" value="#{properties['jdbc.write.url']}" />
        <property name="username" value="#{properties['jdbc.write.username']}" />
        <property name="password" value="#{properties['jdbc.write.password']}" />
        <property name="defaultAutoCommit" value="false" />
    </bean>
        
    <bean id="dataSourceRead" class="org.apache.commons.dbcp.BasicDataSource" parent="parentdataSource">
        <property name="url" value="#{properties['jdbc.read.url']}" />
        <property name="username" value="#{properties['jdbc.read.username']}" />
        <property name="password" value="#{properties['jdbc.read.password']}" />
        <property name="defaultAutoCommit" value="true" />
    </bean>
            
	<bean id="dataSource" class="com.cheyipai.platformservice.thirdparty.core.datasource.RoutingDataSource">
	   <property name="targetDataSources">  
	      <map key-type="java.lang.String">  
	         <!-- write -->
	         <entry key="master" value-ref="dataSourceWrite"/>  
	         <!-- read -->
	         <entry key="slave" value-ref="dataSourceRead"/>  
	      </map>  
	   </property>  
	   <property name="defaultTargetDataSource" ref="dataSourceWrite"/>  
	</bean> 


</beans>