<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cheyipai.platformservice.thirdparty.mapper.AccessMapper">

    <resultMap type="AccessDb" id="AccessResultMap">
        <id property="id" column="id"/>
        <result property="channel" column="channel"/>
        <result property="appKey" column="app_key"/>
        <result property="businessCode" column="busi_code"/>
        <result property="vendorCode" column="vendor_code"/>
        <result property="identifyCode" column="identify_code"/>
        <result property="thirdIdentifyId" column="third_identify_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="callbackTime" column="callback_time"/>
        <result property="status" column="status"/>
    </resultMap>


    <sql id="columns" >
        id,channel,app_key,busi_code,vendor_code,identify_code,third_identify_id,create_time,update_time,callback_time,status
    </sql>
    <select id="getAccesses" resultMap="AccessResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        pt_access
        WHERE status = 1
    </select>

    <select id="getAccessByIdentifyCode" resultMap="AccessResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        pt_access
        WHERE status = 1 and identify_code = #{identifyCode} order by create_time desc limit 1
    </select>


    <insert id="addAccess" parameterType="AccessDb" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pt_access (
        channel,app_key,busi_code,vendor_code,identify_code,third_identify_id,create_time,update_time,callback_time,status
        )
        VALUES (
        #{channel},#{appKey},#{businessCode},#{vendorCode},#{identifyCode},#{thirdIdentifyId},#{createTime},#{updateTime},
        #{callbackTime},#{status}
        )
    </insert>

</mapper>


