<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheyipai.platformservice.thirdparty.mapper.AccessMapper">
	<resultMap id="resultMap" type="com.cheyipai.platformservice.thirdparty.bean.Access">
		<result column="id" property="id"/>
		<result column="channel" property="channel"/>
		<result column="app_key" property="appKey"/>
		<result column="busi_code" property="busiCode"/>
		<result column="vendor_code" property="vendorCode"/>
		<result column="identify_code" property="identifyCode"/>
		<result column="third_identify_id" property="thirdIdentifyId"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="callback_time" property="callbackTime"/>
		<result column="status" property="status"/>

		<result column="request_param" property="requestParam"/>
		<result column="third_request_param" property="thirdRequestParam"/>
		<result column="respon_result" property="responResult"/>
		<result column="thiry_respon_result" property="thirdResponResult"/>
	</resultMap>

	<select id="selectAccess"  resultMap="resultMap">
		select 	a.id,
				a.channel,
				a.app_key,
				a.busi_code,
				a.vendor_code,
				a.identify_code,
				a.third_identify_id,
				a.create_time,
				a.update_time,
				a.callback_time,
				a.status,
				ad.request_param,
				ad.third_request_param,
				ad.respon_result,
		 CONVERT(ad.third_respon_result USING utf8) thiry_respon_result from pt_access a,pt_access_detail ad
		where a.id=ad.pt_access_id
		<if test="channel !='' and channel != null">
			AND a.channel=#{channel}
		</if>
		<if test="appKey !='' and appKey != null">
			AND a.app_key=#{appKey}
		</if>
		<if test="busiCode !='' and busiCode != null">
			AND a.busi_code=#{busiCode}
		</if>
		<if test="vendorCode !='' and vendorCode != null">
			AND a.vendor_code=#{vendorCode}
		</if>
		<if test="thirdIdentifyId !='' and thirdIdentifyId != null">
			AND a.third_identify_id=#{thirdIdentifyId}
		</if>
		<if test="callbackTime !='' and callbackTime != null">
			AND a.callback_time=#{callbackTime}
		</if>
		<if test="status !='' and status != null">
			AND a.status=#{status}
		</if>
		<if test="thirdRequestParam !='' and thirdRequestParam != null ">
			and (ad.third_request_param is not null and ad.third_request_param != '')
		</if>
		order by a.create_time
	</select>
</mapper>
