<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dictManager" class="com.cheyipai.platformservice.thirdparty.impl.DictManager" init-method="init">
        <property name="juheCitysUri" value="${juheCitysUri}"/>
        <property name="juheKey" value="${juheKey}"/>
        <property name="expiredTime" value="${juheExpiredTime}"/>
    </bean>
</beans>